<div class="card border-0 mt-5 mb-3 text-black bg-light">
    <%# Image %>
    <% if (!isSingular) { %><a href="/posts/<%= post._id %>" style="color: inherit; text-decoration: inherit;"><% } %>
        <img src="<%= post.image.url %>" alt="" class="card-img-top" />
        <% if (!isSingular) { %></a><% } %>
    <div class="card-body py-4">

        <%# Title %>
        <% if (!isSingular) { %><a href="/posts/<%= post._id %>" style="color: inherit; text-decoration: inherit;"><% } %>
            <h5 class="card-title"><%= post.title %></h5>
            <% if (!isSingular) { %>
        </a><% } %>

        <%# Author %>
        <p class="card-text mt-5">
            Posted by <a href="/users/<%= post.author._id %>" style="text-transform: capitalize; font-weight: bold; text-decoration: none;">
                <%= post.author.username %> <br><br>
            </a>
        </p>

        <%# time date %>
        <p class="card-text">
            <small class="text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="<%= moment(post.createdOn).format('LLL'); %> ">
                Posted: <%= moment(post.createdOn).fromNow() %>
            </small> <br>
            <% if (post.modifiedOn) { %>
            <small class="text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="<%= moment(post.modifiedOn).format('LLL'); %> ">
                Edited: <%= moment(post.modifiedOn).fromNow() %>
            </small>
            <% } %>
        </p>


        <% if (currentUser) { %>
        <% let liked %>

        <%# Likes loop %>
        <% for( let i = 0; i < post.likes.length; i++ ) { %>
        <% if (post.likes[i].user.equals(currentUser._id)) { %>
        <% liked = true %>
        <% break %>
        <% } %>
        <% } %>
        <%# likes loop END %>

        <button id="post-<%= post._id %>-likes-button" type="button" class="js-like-btn btn <% if (liked) { %> btn-secondary <% } else { %> btn-outline-secondary <% } %>" data-post-id="<%= post._id %>">
            <span id="post-<%= post._id %>-likes-text"><% if (liked) { %> Liked <% } else { %> Like <% } %></span>
            <span id="post-<%= post._id %>-likes-amount">
                <%= post.likes.length %>
            </span>
        </button>
        <% } else { %>
        <a href="/login" class="btn btn-outline-secondary"><span id="post-<%= post._id %>-likes-text">Like</span> <span id="post-<%= post._id %>-likes-amount"><%= post.likes.length %></span></a>
        <% } %>

    </div>
</div>