<% layout('./layouts/boilerplate') %>

<div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-middle my-5">
        <h1>Space Station</h1>
    </div>

    <div style="max-width: 640px; margin: 0 auto;">
        <%- include('../partials/filter.ejs') %>

        <% for (let post of posts) {%>
        <div class="card border-0 mt-5 mb-3 text-black bg-light">
            <a href="<%= post._id %>" style="color: inherit; text-decoration: inherit;">
                <img src="<%= post.image.url %>" alt="" class="card-img-top" />
            </a>
            <div class="card-body py-4">

                <a href="<%= post._id %>" style="color: inherit; text-decoration: inherit;">
                    <h5 class="card-title"><%= post.title %></h5>
                </a>

                <p class="card-text mt-5">
                    Posted by <a href="/users/<%= post.author._id %>" style="text-transform: capitalize; font-weight: bold; text-decoration: none;"><%= post.author.username %></a>
                </p>

                <p class="card-text">
                    <small class="text-muted">
                        Created On: <%= post.createdOn %> <br>
                        <% if (post.modifiedOn) { %>
                        Edited On: <%= post.modifiedOn %>
                        <% } %>
                    </small>
                </p>

            </div>
        </div>
        <% } %>
    </div>
</div>