<% layout('./layouts/boilerplate') %>

<div class="container" style="max-width: 640px; margin: 0 auto;">

    <div class="card border-0 mt-5 mb-3 text-black bg-light">
        <img src="<%= post.image.url %>" alt="" class="card-img-top" />
        <div class="card-body py-4">
            <h5 class="card-title"><%= post.title %></h5>
            <p class="card-text">
                Posted by <a href="/users/<%= post.author._id %>" style="text-transform: capitalize; font-weight: bold; text-decoration: none;"><%= post.author.username %></a>
            </p>
            <p class="card-text">
                <small class="text-muted">
                    Created On: <%= post.createdOn %> <br>
                    <% if (post.modifiedOn) { %>
                    Edited On: <%= post.modifiedOn %>
                    <% } %>
                </small>
            </p>
        </div>
    </div>

    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-end">
        <% if(currentUser && post.author.equals(currentUser._id)) { %>
        <div class="p-2"><a class="text-secondary" href="/<%= post._id %>/edit" role="button">Edit</a></div>
        <form class="" action="/<%= post._id %>?_method=DELETE" method="POST">
            <button type="submit" class="btn btn-link p-2 text-secondary">Delete</button>
        </form>
        <% } %>
    </div>

    <form action="/<%= post._id %>/comments" method="POST" class="py-5 validated-form" novalidate>
        <div class="form-group pb-4">

            <label class="form-label" for="text">
                <% if(currentUser) { %>
                Comment as <%= user.username %>
                <% } else { %>
                <a href="/login">Sign in</a> or <a href="/register">Join</a> to leave a comment
                <% } %>
            </label>

            <input type="text" class="form-control" rows="6" id="text" name="comment[text]" placeholder="Is this Space Station worthy?" required <% if(!currentUser) { %> disabled <% } %>>
            <div class="valid-feedback">
                Noice!
            </div>

        </div>
        <% if(currentUser) { %>
        <button type="submit" class="btn btn-link text-primary" <% if(!currentUser) { %> disabled <% } %>>Send it</button>
        <% } %>
    </form>

    <ul style="list-style: none; padding: 0; margin: 0;">
        <% if (post.comments) { %>
        <% for (let comment of post.comments) { %>
        <li class="pb-4">
            <div class="card text-white bg-dark border-white">
                <div class="card-body">
                    <h6 class="card-subtitle mb-2"><%= comment.author.username %>:</h6>
                    <p class="card-text"><%= comment.text %></p>
                    <% if(currentUser && comment.author.equals(currentUser._id)) { %>
                    <form action="/<%= post._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                        <button type="submit" class="btn btn-link text-danger btn-sm">Remove</button>
                    </form>
                    <% } %>
                </div>
            </div>
        </li>
        <% } %>
        <% } %>
    </ul>
</div>